// Alert component
// Overrides for alert bootstrap component


// Dismissible alerts
.alert-dismissible {

    // Adjust close link color
    .close {
        @include hover-focus {
            color: inherit;
        }

        padding: 0.7rem 1rem;
    }
}


//
// Alternate styles
//

// Custom background color
.alert[class*=bg-]:not(.bg-transparent):not(.bg-white):not(.bg-light) {
    .alert-link {
        color: inherit;
        border-bottom-color: rgba($white, 0.85);
    }
}


// Styled alerts
.alert {

    // Icon variations
    &[class*=alert-styled-] {

        // Icon base
        &:after {
            content: '\f77f';
            font-family: $icon-font-family;
            color: $white;
            width: (($alert-padding-y * 2) + 1.2rem);
            left: -(($alert-padding-y * 2) + 1.2rem);
            text-align: center;
            position: absolute;
            top: 50%;
            margin-top: -(1.2rem / 2);
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1;
            
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        // Danger icon
        &.alert-danger:after,
        &[class*=bg-danger]:after {
            content: '\f071';
        }

        // Success icon
        &.alert-success:after,
        &[class*=bg-success]:after {
            content: '\f560';
        }

        // Warning icon
        &.alert-warning:after,
        &[class*=bg-warning]:after {
            content: '\f128';
        }

        // Info icon
        &.alert-info:after,
        &[class*=bg-info]:after {
            content: '\f12a';
        }
    }

    // Styled alert with left icon
    &.alert-styled-left {
        border-left-width: (($alert-padding-y * 2) + $icon-font-size);

        // With custom bg
        &[class*=bg-]:not(.bg-white):not(.bg-light) {
            border-left-color: rgba($black, 0.15)!important;
        }
    }

    // Styled alert with right icon
    &.alert-styled-right {
        border-right-width: (($alert-padding-y * 2) + $icon-font-size);

        // Change icon position
        &:after {
            left: auto;
            right: -(($alert-padding-y * 2) + $icon-font-size);
        }

        // With custom bg
        &[class*=bg-]:not(.bg-white):not(.bg-light) {
            border-right-color: rgba($black, 0.15)!important;
        }
    }

}



.alert-notification {
    min-width: 450px;
    position: fixed;
    left: 50%;
    top: 20px;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    -webkit-transition: opacity .3s, -webkit-transform .4s;
    transition: opacity .3s, -webkit-transform .4s;
    transition: opacity .3s, transform .4s;
    transition: opacity .3s, transform .4s, -webkit-transform .4s;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.alert-notification-fade-enter,
.alert-notification-fade-leave-active {
    opacity: 0;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%)
}
