/* ------------------------------------------------------------------------------
 *
 *  # Form styles
 *
 *  Basic form styles and overrides of default Bootstrap styles
 *
 * ---------------------------------------------------------------------------- */


//
// Base styles
//

// Legend
legend {
    padding-top: ($spacer / 2);
    padding-bottom: ($spacer / 2);
    margin-bottom: $spacer;
    border-bottom: $input-border-width solid $input-border-color;
    font-size: $font-size-base;

    // Remove top padding in first items
    fieldset:first-child & {
        &:first-child {
            padding-top: 0;
        }
    }
}

// Multiple select
select[multiple],
select[size] {
    height: 200px;
    padding: $input-padding-x;

    // Option
    option {
        padding: $dropdown-item-padding-y $dropdown-item-padding-x;
        @include border-radius($border-radius);

        + option {
            margin-top: $dropdown-item-spacer-y;
        }
    }
}

// Textual form controls
.form-control {
    background-clip: border-box;

    // Disabled state
    &:disabled {
        color: $text-muted;
    }


    // Disabled and read-only inputs
      &:disabled,
      &[readonly] {
        color: $text-muted;
      }
}

// Form groups
.form-group {

    // Remove bottom margin from the last group
    .form-group:last-child {
        margin-bottom: 0;
    }

    // Add top margin on certain breakpoints
    @include media-breakpoint-down(sm) {
        [class*="col-md-"]:not([class*=col-form-label]) + [class*="col-md-"] {
            margin-top: $form-group-margin-bottom;
        }
    }
    @include media-breakpoint-down(md) {
        [class*="col-lg-"]:not([class*=col-form-label]) + [class*="col-lg-"] {
            margin-top: $form-group-margin-bottom;
        }
    }
    @include media-breakpoint-down(lg) {
        [class*="col-xl-"]:not([class*=col-form-label]) + [class*="col-xl-"] {
            margin-top: $form-group-margin-bottom;
        }
    }
}

// Remove top padding in labels on certain breakpoints
// to match vertical form spacings
[class*=col-form-label] {
    @include media-breakpoint-down(sm) {
        &[class*="col-md-"] {
            padding-top: 0;
        }
    }
    @include media-breakpoint-down(md) {
        &[class*="col-lg-"] {
            padding-top: 0;
        }
    }
    @include media-breakpoint-down(lg) {
        &[class*="col-xl-"] {
            padding-top: 0;
        }
    }
}


//
// Checkboxes and radios
//

// Container
.form-check {

    // Exclude dropdown items
    &:not(.form-check-inline) {

        // Last item doesn't have spacing
        &:last-child {
            margin-bottom: 0;
        }
    }

    // In horizontal form group
    .form-group.row &:not(.dropdown-item) {
        margin-top: ($input-padding-y + rem-calc($input-border-width));
    }

    // Disabled state
    &.disabled {
        .form-check-label {
            cursor: $cursor-disabled;
        }
    }
}

// Input
.form-check-input {
    &:disabled ~ .form-check-label {
        cursor: $cursor-disabled;
    }
}

// Label
.form-check-label {
    cursor: pointer;
}

// Inline list
.form-check-inline {

    // Label
    .form-check-label {
        display: inline-flex;
        align-items: flex-start;
    }

    // Undo .form-check-input defaults and add some `margin-right`.
    .form-check-input {
        margin-top: $form-check-input-margin-y;
    }

    // Last item
    &:last-child {
        margin-right: 0;
    }

    // Make sure input is not affected by top/left spacings
    input {
        position: static;
    }
}

// Right position
.form-check-right {
    padding-left: 0;
    padding-right: $form-check-input-gutter;

    // Reverse input direction
    .form-check-input,
    input {
        left: auto;
        right: 0;
    }

    // Inline list
    &.form-check-inline {
        padding: 0;
        
        // Input
        .form-check-input {
            margin-right: 0;
            margin-left: $form-check-inline-input-margin-x;
        }
    }
}


//
// Form control feedback states
//

// Default left icon position
.form-group-feedback {
    position: relative;

    // Left alignment
    &-left {

        // Stick icon to the left
        .form-control-feedback {
            left: 0;
        }

        // Ensure icons don't overlap text
        .form-control {
            padding-left: $input-padding-x + $input-btn-padding-x + $icon-font-size;

            // Sizes
            &-lg {
                padding-left: $input-padding-x-lg + $input-btn-padding-x-lg + $icon-font-size;
            }
            &-sm {
                padding-left: $input-padding-x-sm + $input-btn-padding-x-sm + $icon-font-size;
            }
        }
    }

    // Right alignment
    &-right {

        // Stick icon to the right
        .form-control-feedback {
            right: 0;
        }

        // Ensure icons don't overlap text
        .form-control {
            padding-right: $input-padding-x + $input-btn-padding-x + $icon-font-size;

            // Sizes
            &-lg {
                padding-right: $input-padding-x-lg + $input-btn-padding-x-lg + $icon-font-size;
            }
            &-sm {
                padding-right: $input-padding-x-sm + $input-btn-padding-x-sm + $icon-font-size;
            }
        }
    }
}

// Feedback icon
.form-control-feedback {
    position: absolute;
    top: 0;
    color: $input-color;
    padding-left: $input-padding-x;
    padding-right: $input-padding-x;
    line-height: $input-height;
    min-width: $icon-font-size;

    i {
        font-size: 1rem;
        color: $text-muted;
    }

    // Large size
    &-lg {
        padding-left: $input-padding-x-lg;
        padding-right: $input-padding-x-lg;
        line-height: $input-height-lg;
    }

    // Small size
    &-sm {
        padding-left: $input-padding-x-sm;
        padding-right: $input-padding-x-sm;
        line-height: $input-height-sm;
    }

    // Change color if comes after colored input
    input[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) + & {
        color: $white;
    }
}









.el-popper .popper__arrow,
.el-popper .popper__arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.el-popper .popper__arrow {
    border-width: 6px;
    -webkit-filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03))
}

.el-popper .popper__arrow::after {
    content: " ";
    border-width: 6px
}

.el-popper[x-placement^=top] {
    margin-bottom: 12px
}

.el-popper[x-placement^=top] .popper__arrow {
    bottom: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-color: #ebeef5;
    border-bottom-width: 0
}

.el-popper[x-placement^=top] .popper__arrow::after {
    bottom: 1px;
    margin-left: -6px;
    border-top-color: #fff;
    border-bottom-width: 0
}

.el-popper[x-placement^=bottom] {
    margin-top: 12px
}

.el-popper[x-placement^=bottom] .popper__arrow {
    top: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-width: 0;
    border-bottom-color: #ebeef5
}

.el-popper[x-placement^=bottom] .popper__arrow::after {
    top: 1px;
    margin-left: -6px;
    border-top-width: 0;
    border-bottom-color: #fff
}

.el-popper[x-placement^=right] {
    margin-left: 12px
}

.el-popper[x-placement^=right] .popper__arrow {
    top: 50%;
    left: -6px;
    margin-bottom: 3px;
    border-right-color: #ebeef5;
    border-left-width: 0
}

.el-popper[x-placement^=right] .popper__arrow::after {
    bottom: -6px;
    left: 1px;
    border-right-color: #fff;
    border-left-width: 0
}

.el-popper[x-placement^=left] {
    margin-right: 12px
}

.el-popper[x-placement^=left] .popper__arrow {
    top: 50%;
    right: -6px;
    margin-bottom: 3px;
    border-right-width: 0;
    border-left-color: #ebeef5
}

.el-popper[x-placement^=left] .popper__arrow::after {
    right: 1px;
    bottom: -6px;
    margin-left: -6px;
    border-right-width: 0;
    border-left-color: #fff
}

.el-select-dropdown {
    position: absolute;
    z-index: 1001;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    color: #409EFF;
    background-color: #fff
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover {
    background-color: #f5f7fa
}

.el-select-dropdown.is-multiple .el-select-dropdown__item::after {
    position: absolute;
    right: 20px;
    font-family: "Font Awesome 5 Pro";
    content: "\f0c8";
    color: #e1e2e4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after {
    position: absolute;
    right: 20px;
    font-family: "Font Awesome 5 Pro";
    content: "\f14a";
    color: #3490dc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.el-select-dropdown .el-scrollbar.is-empty .el-select-dropdown__list {
    padding: 0
}

.el-select-dropdown__empty {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: #999;
    font-size: 14px
}

.el-select-dropdown__wrap {
    max-height: 274px
}

.el-select-dropdown__list {
    list-style: none;
    padding: 6px 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.el-textarea {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    font-size: 14px
}

.el-textarea__inner {
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.el-textarea__inner::-webkit-input-placeholder {
    color: #c0c4cc
}

.el-textarea__inner:-ms-input-placeholder {
    color: #c0c4cc
}

.el-textarea__inner::placeholder {
    color: #c0c4cc
}

.el-textarea__inner:hover {
    border-color: #c0c4cc
}

.el-textarea__inner:focus {
    outline: 0;
    border-color: #409EFF
}

.el-textarea.is-disabled .el-textarea__inner {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed
}

.el-textarea.is-disabled .el-textarea__inner::-webkit-input-placeholder {
    color: #c0c4cc
}

.el-textarea.is-disabled .el-textarea__inner:-ms-input-placeholder {
    color: #c0c4cc
}

.el-textarea.is-disabled .el-textarea__inner::placeholder {
    color: #c0c4cc
}

.el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%
}

.el-input::-webkit-scrollbar {
    z-index: 11;
    width: 6px
}

.el-input::-webkit-scrollbar:horizontal {
    height: 6px
}

.el-input::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 6px;
    background: #b4bccc
}

.el-input::-webkit-scrollbar-corner {
    background: #fff
}

.el-input::-webkit-scrollbar-track {
    background: #fff
}

.el-input::-webkit-scrollbar-track-piece {
    background: #fff;
    width: 6px
}

.el-input .el-input__clear {
    color: #c0c4cc;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    -webkit-transition: color .2s cubic-bezier(.645, .045, .355, 1);
    transition: color .2s cubic-bezier(.645, .045, .355, 1)
}

.el-input .el-input__clear:hover {
    color: #909399
}

.el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: $font-size-base;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%
}

.el-select-dropdown__item,
.el-tag {
    white-space: nowrap;
    -webkit-box-sizing: border-box
}

.el-input__prefix,
.el-input__suffix {
    position: absolute;
    top: 0;
    -webkit-transition: all .3s;
    height: 100%;
    color: #c0c4cc;
    text-align: center
}

.el-input__inner::-webkit-input-placeholder {
    color: $gray-400;
}

.el-input__inner:-ms-input-placeholder {
    color: $gray-400;
}

.el-input__inner::placeholder {
    color: $gray-400;
}

.el-input__inner:hover {
    border-color: $gray-400;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
    outline: 0
}

.el-input__suffix {
    right: 5px;
    transition: all .3s;
    pointer-events: none
}

.el-input__suffix-inner {
    pointer-events: all
}

.el-input__prefix {
    left: 5px;
    transition: all .3s
}

.el-input__icon {
    height: 100%;
    width: 25px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 40px
}

.el-input__icon:after {
    content: '';
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle
}

.el-input__validateIcon {
    pointer-events: none
}

.el-input.is-disabled .el-input__inner {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed
}

.el-input.is-disabled .el-input__inner::-webkit-input-placeholder {
    color: #c0c4cc
}

.el-input.is-disabled .el-input__inner:-ms-input-placeholder {
    color: #c0c4cc
}

.el-input.is-disabled .el-input__inner::placeholder {
    color: #c0c4cc
}

.el-input.is-disabled .el-input__icon {
    cursor: not-allowed
}

.el-input--suffix .el-input__inner {
    padding-right: 30px
}

.el-input--prefix .el-input__inner {
    padding-left: 30px
}

.el-input--medium {
    font-size: 14px
}

.el-input--medium .el-input__inner {
    height: 36px;
    line-height: 36px
}

.el-input--medium .el-input__icon {
    line-height: 36px
}

.el-input--small {
    font-size: 13px
}

.el-input--small .el-input__inner {
    height: 32px;
    line-height: 32px
}

.el-input--small .el-input__icon {
    line-height: 32px
}

.el-input--mini {
    font-size: 12px
}

.el-input--mini .el-input__inner {
    height: 28px;
    line-height: 28px
}

.el-input--mini .el-input__icon {
    line-height: 28px
}

.el-input-group {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0
}

.el-input-group>.el-input__inner {
    vertical-align: middle;
    display: table-cell
}

.el-input-group__append,
.el-input-group__prepend {
    background-color: #f5f7fa;
    color: #909399;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 0 20px;
    width: 1px;
    white-space: nowrap
}

.el-input-group--prepend .el-input__inner,
.el-input-group__append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.el-input-group--append .el-input__inner,
.el-input-group__prepend {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.el-input-group__append:focus,
.el-input-group__prepend:focus {
    outline: 0
}

.el-input-group__append .el-button,
.el-input-group__append .el-select,
.el-input-group__prepend .el-button,
.el-input-group__prepend .el-select {
    display: inline-block;
    margin: -10px -20px
}

.el-input-group__append button.el-button,
.el-input-group__append div.el-select .el-input__inner,
.el-input-group__append div.el-select:hover .el-input__inner,
.el-input-group__prepend button.el-button,
.el-input-group__prepend div.el-select .el-input__inner,
.el-input-group__prepend div.el-select:hover .el-input__inner {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    border-top: 0;
    border-bottom: 0
}

.el-input-group__append .el-button,
.el-input-group__append .el-input,
.el-input-group__prepend .el-button,
.el-input-group__prepend .el-input {
    font-size: inherit
}

.el-input-group__prepend {
    border-right: 0
}

.el-input-group__append {
    border-left: 0
}

.el-input__inner::-ms-clear {
    display: none;
    width: 0;
    height: 0
}

.el-tag {
    background-color: rgba(64, 158, 255, .1);
    display: inline-block;
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    color: #409EFF;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(64, 158, 255, .2)
}

.el-tag .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px;
    color: #409EFF
}

.el-tag .el-icon-close::before {
    display: block
}

.el-tag .el-icon-close:hover {
    background-color: #409EFF;
    color: #fff
}

.el-tag--info,
.el-tag--info .el-tag__close {
    color: #909399
}

.el-tag--info {
    background-color: rgba(144, 147, 153, .1);
    border-color: rgba(144, 147, 153, .2)
}

.el-tag--info.is-hit {
    border-color: #909399
}

.el-tag--info .el-tag__close:hover {
    background-color: #909399;
    color: #fff
}

.el-tag--success {
    background-color: rgba(103, 194, 58, .1);
    border-color: rgba(103, 194, 58, .2);
    color: #67c23a
}

.el-tag--success.is-hit {
    border-color: #67c23a
}

.el-tag--success .el-tag__close {
    color: #67c23a
}

.el-tag--success .el-tag__close:hover {
    background-color: #67c23a;
    color: #fff
}

.el-tag--warning {
    background-color: rgba(230, 162, 60, .1);
    border-color: rgba(230, 162, 60, .2);
    color: #e6a23c
}

.el-tag--warning.is-hit {
    border-color: #e6a23c
}

.el-tag--warning .el-tag__close {
    color: #e6a23c
}

.el-tag--warning .el-tag__close:hover {
    background-color: #e6a23c;
    color: #fff
}

.el-tag--danger {
    background-color: rgba(245, 108, 108, .1);
    border-color: rgba(245, 108, 108, .2);
    color: #f56c6c
}

.el-tag--danger.is-hit {
    border-color: #f56c6c
}

.el-tag--danger .el-tag__close {
    color: #f56c6c
}

.el-tag--danger .el-tag__close:hover {
    background-color: #f56c6c;
    color: #fff
}

.el-tag--medium {
    height: 28px;
    line-height: 26px
}

.el-tag--medium .el-icon-close {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.el-tag--small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px
}

.el-tag--small .el-icon-close {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.el-tag--mini {
    height: 20px;
    padding: 0 5px;
    line-height: 19px
}

.el-tag--mini .el-icon-close {
    margin-left: -3px;
    -webkit-transform: scale(.7);
    transform: scale(.7)
}

.el-select-dropdown__item {
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer
}

.el-select-dropdown__item.is-disabled {
    color: #c0c4cc;
    cursor: not-allowed
}

.el-select-dropdown__item.is-disabled:hover {
    background-color: #fff
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background-color: $gray-100;
}

.el-select-dropdown__item.selected {
    color: $primary;
    font-weight: $font-weight-bold;
}

.el-select-group {
    margin: 0;
    padding: 0
}

.el-select-group__wrap {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0
}

.el-select-group__wrap:not(:last-of-type) {
    padding-bottom: 24px
}

.el-select-group__wrap:not(:last-of-type)::after {
    content: '';
    position: absolute;
    display: block;
    left: 20px;
    right: 20px;
    bottom: 12px;
    height: 1px;
    background: #e4e7ed
}

.el-select-group__title {
    padding-left: 20px;
    font-size: 12px;
    color: #909399;
    line-height: 30px
}

.el-select-group .el-select-dropdown__item {
    padding-left: 20px
}

.el-scrollbar {
    overflow: hidden;
    position: relative
}

.el-scrollbar:active>.el-scrollbar__bar,
.el-scrollbar:focus>.el-scrollbar__bar,
.el-scrollbar:hover>.el-scrollbar__bar {
    opacity: 1;
    -webkit-transition: opacity 340ms ease-out;
    transition: opacity 340ms ease-out
}

.el-scrollbar__wrap {
    overflow: scroll;
    height: 100%
}

.el-scrollbar__wrap--hidden-default::-webkit-scrollbar {
    width: 0;
    height: 0
}

.el-scrollbar__thumb {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(144, 147, 153, .3);
    -webkit-transition: .3s background-color;
    transition: .3s background-color
}

.el-scrollbar__thumb:hover {
    background-color: rgba(144, 147, 153, .5)
}

.el-scrollbar__bar {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: opacity 120ms ease-out;
    transition: opacity 120ms ease-out
}

.el-scrollbar__bar.is-vertical {
    width: 6px;
    top: 2px
}

.el-scrollbar__bar.is-vertical>div {
    width: 100%
}

.el-scrollbar__bar.is-horizontal {
    height: 6px;
    left: 2px
}

.el-scrollbar__bar.is-horizontal>div {
    height: 100%
}

.el-select {
    display: inline-block;
    position: relative;
    display: block;
    width: 100%;
}

.el-select:hover .el-input__inner {
    border-color: #c0c4cc
}

.el-select .el-input__inner {
    cursor: pointer;
    padding-right: 35px
}

.el-select .el-input .el-select__caret {
    color: #c0c4cc;
    font-size: 14px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    cursor: pointer
}

.el-select .el-input .el-select__caret.is-reverse {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0)
}

.el-select .el-input .el-select__caret.is-show-close {
    font-size: 14px;
    text-align: center;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    border-radius: 100%;
    color: #c0c4cc;
    -webkit-transition: color .2s cubic-bezier(.645, .045, .355, 1);
    transition: color .2s cubic-bezier(.645, .045, .355, 1)
}

.el-select .el-input .el-select__caret.is-show-close:hover {
    color: #909399
}

.el-select .el-input.is-disabled .el-input__inner {
    cursor: not-allowed
}

.el-select .el-input.is-disabled .el-input__inner:hover {
    border-color: #e4e7ed
}


.el-select>.el-input {
    display: block
}

.el-select__input {
    border: none;
    outline: 0;
    padding: 0;
    margin-left: 15px;
    color: #666;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 28px;
    background-color: transparent
}

.el-select__input.is-mini {
    height: 14px
}

.el-select__close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: 1000;
    right: 25px;
    color: #c0c4cc;
    line-height: 18px;
    font-size: 14px
}

.el-select__close:hover {
    color: #909399
}

.el-select__tags {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.el-select .el-tag__close {
    margin-top: -2px
}

.el-select .el-tag {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    background-color: #f0f2f5
}

.el-select .el-tag__close.el-icon-close {
    background-color: #c0c4cc;
    right: -7px;
    top: 0;
    color: #fff
}

.el-select .el-tag__close.el-icon-close:hover {
    background-color: #909399
}

.el-select .el-tag__close.el-icon-close::before {
    display: block;
    -webkit-transform: translate(0, .5px);
    transform: translate(0, .5px)
}



.el-popper .popper__arrow,
.el-popper .popper__arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.el-popper .popper__arrow {
    border-width: 6px;
    -webkit-filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03))
}

.el-popper .popper__arrow::after {
    content: " ";
    border-width: 6px
}

.el-popper[x-placement^=top] {
    margin-bottom: 12px
}

.el-popper[x-placement^=top] .popper__arrow {
    bottom: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-color: #ebeef5;
    border-bottom-width: 0
}

.el-popper[x-placement^=top] .popper__arrow::after {
    bottom: 1px;
    margin-left: -6px;
    border-top-color: #fff;
    border-bottom-width: 0
}

.el-popper[x-placement^=bottom] {
    margin-top: 12px
}

.el-popper[x-placement^=bottom] .popper__arrow {
    top: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-width: 0;
    border-bottom-color: #ebeef5
}

.el-popper[x-placement^=bottom] .popper__arrow::after {
    top: 1px;
    margin-left: -6px;
    border-top-width: 0;
    border-bottom-color: #fff
}

.el-popper[x-placement^=right] {
    margin-left: 12px
}

.el-popper[x-placement^=right] .popper__arrow {
    top: 50%;
    left: -6px;
    margin-bottom: 3px;
    border-right-color: #ebeef5;
    border-left-width: 0
}

.el-popper[x-placement^=right] .popper__arrow::after {
    bottom: -6px;
    left: 1px;
    border-right-color: #fff;
    border-left-width: 0
}

.el-popper[x-placement^=left] {
    margin-right: 12px
}

.el-popper[x-placement^=left] .popper__arrow {
    top: 50%;
    right: -6px;
    margin-bottom: 3px;
    border-right-width: 0;
    border-left-color: #ebeef5
}

.el-popper[x-placement^=left] .popper__arrow::after {
    right: 1px;
    bottom: -6px;
    margin-left: -6px;
    border-right-width: 0;
    border-left-color: #fff
}

.el-select-dropdown {
    position: absolute;
    z-index: 1001;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    color: #409EFF;
    background-color: #fff
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover {
    background-color: $gray-100;
}


.el-select-dropdown .el-scrollbar.is-empty .el-select-dropdown__list {
    padding: 0
}

.el-select-dropdown__empty {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: #999;
    font-size: 14px
}

.el-select-dropdown__wrap {
    max-height: 274px
}

.el-select-dropdown__list {
    list-style: none;
    padding: 6px 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}


.el-select-dropdown.is-multiple .el-select-dropdown__item span {
    margin-right: 20px !important;
}


.invalid-feedback {
    display: block !important;
    font-weight: 300;
}


.StripeElement {
    display: block;
    width: 100%;
    font-weight: $input-font-weight;
    color: $input-color;
    height: $input-height-lg;
    padding: $input-padding-y-lg $input-padding-x-lg;
    font-size: $input-font-size-lg;
    line-height: $input-line-height-lg;
    border: $input-border-width solid $input-border-color;

    background-color: $input-bg;
    background-clip: padding-box;

    @include box-shadow($input-box-shadow);
    @include transition($input-transition);

    @include form-control-focus();

      // Placeholder
      &::placeholder {
        color: $input-placeholder-color;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
      }

    @include border-radius($input-border-radius-lg);

}

.StripeElement--invalid {
    border: $input-border-width solid $red;
}


// Remove padding from inputs that are color picker
input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0 !important;
}