html, body, #app {
	height: 100%;
}

#page-wrapper {
	display: flex;
    align-items: stretch;
    min-height: 100%;
    
    -webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;
}

#page-content {
	width: 100%;
	
    -webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;
}